@font-face {
  font-family: 'Rubik-Bold.woff';
  font-weight: 700;
  font-style: normal;
  src: local('Rubik-Bold.woff'),
       url('../fonts/Rubik-Bold.woff2') format('woff2'),
       url('../fonts/Rubik-Bold.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Rubik-Regular.woff';
  font-weight: 400;
  font-style: normal;
  src: local('Rubik-Regular.woff'),
       url('../fonts/Rubik-Regular.woff2') format('woff2'),
       url('../fonts/Rubik-Regular.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Rubik-Medium.woff';
  font-weight: 500;
  font-style: normal;
  src: local('Rubik-Medium.woff'),
       url('../fonts/Rubik-Medium.woff2') format('woff2'),
       url('../fonts/Rubik-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Regular.woff';
  font-weight: 400;
  font-style: normal;
  src: local('DMSans-Regular.woff'),
       url('../fonts/DMSans-Regular.woff2') format('woff2'),
       url('../fonts/DMSans-Regular.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'DMSans-Medium.woff';
  font-weight: 500;
  font-style: normal;
  src: local('DMSans-Medium.woff'),
       url('../fonts/DMSans-Medium.woff2') format('woff2'),
       url('../fonts/DMSans-Medium.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'DMSans-Bold.woff';
  font-weight: 500;
  font-style: normal;
  src: local('DMSans-Bold.woff'),
       url('../fonts/DMSans-Bold.woff2') format('woff2'),
       url('../fonts/DMSans-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Bold.woff';
  font-weight: 500;
  font-style: normal;
  src: local('Poppins-Bold.woff'),
       url('../fonts/Poppins-Bold.woff2') format('woff2'),
       url('../fonts/Poppins-Bold.woff') format('woff');
  font-display: swap;
}