@import 'vars';

html,
body {
  height: 100%;
}

body {
  color: $default;
  font-size: 15px;
  @extend %rubik-400;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1780px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-2 {
  max-width: 1190px;
  padding: 0 10px;
}

a {
  color: inherit;
}

.button__mix {
  cursor: pointer;
  margin-top: 35px;
  margin-bottom: 85px;
  border: none;
  background-color: transparent;
  color: #8b8b8b;
  @extend %dmsans-700;
  transition: all 0.5s;

  &:hover {
    color: #191919;
  }
}

.button__mix + .button__mix {
  margin-left: 30px;
}

.mixitup-control-active {
  color: #191919;
}

.title {
  color: $global;
  @extend %dmsans-700;
  font-size: 36px;
}

.breadcrumbs {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  &__list {
    display: flex;
  }
  &__item {
    margin-right: 9px;
    &::after {
      content: '/';
      margin-left: 8px;
      color: #737980;
    }
    &:last-child {
      margin-right: 0;
      &::after {
        display: none;
      }
    }
  }
  &__link {
    color: #737980;
  }
}

.pagination{
  &__list{
    display: flex;
    column-gap: 15px;
  }
  &__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid $button;
    &--active{
      background-color: $button;
      color: #fff;
    }
    &:last-child{
      width: auto;
      padding: 0 20px;
    }
  }

}