// $title: #436372;
$title: #436372;
$default: #243f4d;


%rubik-400{
  font-family: 'Rubik-Regular.woff', sans-serif;
  font-weight: 400;
}
%rubik-500{
  font-family: 'Rubik-Medium.woff', sans-serif;
  font-weight: 500;
}
%rubik-700{
  font-family: 'Rubik-Bold.woff', sans-serif;
  font-weight: 700;
}

%dmsans-400{
  font-family: 'DMSans-Regular.woff', sans-serif;
  font-weight: 400;
}
%dmsans-500{
  font-family: 'DMSans-Medium.woff', sans-serif;
  font-weight: 500;
}
%dmsans-700{
  font-family: 'DMSans-Bold.woff', sans-serif;
  font-weight: 700;
}

%poppins-700{
  font-family: 'Poppins-Bold.woff', sans-serif;
  font-weight: 700;
}