@import "vars";
@import "global";
@import "fonts";
@import "reset";
@import "libs";

.header {
  padding: 50px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: flex;
  align-items: center;
  color: $title;
  font-size: 36px;
  @extend %rubik-500;

  & img {
    margin-right: 15px;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item+&__list-item {
    margin-left: 35px;
  }

  &__list-link {
    color: $title;
    position: relative;
    @extend %rubik-500;
    overflow: hidden;
    transition: all 1s;

    &::after {
      content: "+";
      position: absolute;
      right: -12px;
      top: 3px;
      color: white;
      transform: translateX(-100%);
      z-index: -1;
      transition: all 1s;
    }

    // &:hover{
    //   margin-right: 12px;
    // }
    &:hover::after {
      color: $title;
      transform: translateX(0);
    }
  }

  // &__list-link--active::after{
  //   content: "+";
  //   color: $title;
  //   left: 0;
  // }
}

.user-nav {
  display: flex;
  align-items: center;

  &__search {
    background-color: #edf1f4;
    border-radius: 50%;
    padding: 18px;
    margin-right: 22px;
  }

  .user-nav__list {
    display: flex;
    background-color: #fcd7b6;
    border-radius: 25px;
    padding: 10px 0;
    margin-right: 20px;
  }

  &__list-item {
    padding: 12px 30px 3px 42px;
  }

  &__list-item:first-child {
    border-right: 1px solid white;
  }

  &__list-link {
    position: relative;
  }

  &__num {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
    @extend %dmsans-400;
    color: $default;
  }

  &__burger {
    cursor: pointer;
    background-color: #a3bbc8;
    border-radius: 50%;
    border: none;
    padding: 15px;
  }
}

.slider {
  &__inner {
    background-color: #fcd7b6;
    padding: 210px 0 45px;
    background-image: url(../images/slider-bg.png);
    @extend %bg;
    background-size: 35%;
    background-position: right 15% center;
  }

  &__item {
    display: flex !important;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 300px 210px;
  }

  &__content {
    max-width: 430px;
    height: 330px;
  }

  &__title {
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
    margin-bottom: 24px;
  }

  &__text {
    font-size: 18px;
    line-height: 30px;
    color: #436372;
    max-width: 370px;
    margin-bottom: 45px;
  }

  &__link {
    max-width: 200px;
    height: 60px;
    @extend %btn;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 19px 0 27px;
    @extend %rubik-500;
  }
}

.slick-dots {
  // margin-top: -45px;
  display: flex;
  justify-content: center;

  li+li {
    margin-left: 12px;
  }

  li {
    button {
      width: 30px;
      height: 30px;
      border: none;
      background-color: #fff;
      opacity: 0.3;
      border-radius: 50%;
      padding: 8px 11px;
    }
  }

  .slick-active {
    button {
      opacity: 1;
    }
  }
}

.info {
  &__inner {
    background-color: #FFF7F0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 52px 137px;
    height: 100%;

    // &:nth-child(1) {
    //   max-width: 270px;
    // }

    // &:nth-child(2) {
    //   max-width: 310px;
    // }

    // &:nth-child(3) {
    //   max-width: 300px;
    // }
  }

  &__img {
    margin-top: 12px;
    margin-right: 20px;
  }

  &__title {
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 40px;
  }

  &__text {
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 30px;
  }

  &__item+&__item {
    border-left: 1px solid #E8E4E0;
  }
}

.gallery {
  &__inner {
    margin-top: 185px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 97px 0;
    padding-right: 102px;
    background-color: rgba($color: #FCD7B6, $alpha: 0.4);
  }

  &__content {
    max-width: 380px;
    position: relative;

    &-first::before {
      content: url(../images/content/gallery/1.png);
      position: absolute;
      bottom: -40px;
      left: -250px;
    }

    &-second {
      padding-left: 50px;

      & h4 {
        margin-top: -10px;
      }

      & p {
        margin-top: -10px;
      }
    }

    &-second::before {
      content: url(../images/content/gallery/2.png);
      position: absolute;
      bottom: -20px;
      left: -230px;
    }
  }

  &__title {
    margin-bottom: 20px;
    max-width: 260px;
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 32px;
  }

  &__text {
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 30px;
  }

  &__link {
    padding: 20px 20px;
    @extend %rubik-500;
    font-size: 15px;
    color: #436372;
    border: 1px solid rgba($color: #436372, $alpha: 0.4);
    border-radius: 7px;

    & svg {
      margin-left: 40px;
    }
  }
}

.footer {
  padding: 80px 0 43px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;

  &__logo {
    max-width: 200px;

    & a {
      margin-bottom: 22px;
      margin-top: -15px;
    }
  }

  &__title {
    color: #1f2044;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 17px;
    text-transform: uppercase;
  }

  &__item {
    margin-bottom: 10px;
  }

  &__link {
    color: $link;
    font-size: 14px;
    line-height: 24px;
  }

  &__new {
    max-width: 285px;

    & p {
      margin: 30px 0 45px;
      line-height: 24px;
      font-size: 14px;
    }
  }

  &__form {
    display: flex;
    @extend %dmsans-400;
  }

  &__form-input {
    height: 40px;
    max-width: 180px;
    border: none;
    background-color: #fef7f0;
    padding: 0 15px;

    &::placeholder {
      color: #234969;
      font-size: 12px;
    }
  }

  &__form-button {
    height: 40px;
    @extend %btn;
  }
}

.footer-bottom {
  border-top: 1px solid #dae4e9;
  display: flex;
  justify-content: space-between;
  color: $link;
  padding-top: 35px;

  &__list {
    display: flex;
  }

  &__item {
    padding: 3px 0;
  }

  &__item+&__item {
    margin-left: 15px;
    border-left: 1px solid $link;
    padding-left: 15px;
  }

  &__link {
    color: $link;
  }
}

@import "media";